.container{
    width: 90%;
    background-color: $color-white; 
    //  height: 550px; 
    margin: 3% auto;    
    border-radius: 2rem;
    position: relative;
}
.btn-rule{
    margin: 2% 45%;
    @include respond(phone){
        margin: 2% 43%;    }
    @include respond(small-phone){
        margin: 2% 43%;    }

    & a{
        color: $color-white;
        text-decoration: none;
        padding: 1rem;
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); 
        border-radius: 1rem;
        cursor: pointer;
        font-size: 1rem;
        text-transform: uppercase;
    }
}
.pop-up{
    height: 100vh; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);
    z-index: 10;
    opacity: 0;
    visibility: hidden;

    &:target{
        opacity: 1;
        visibility: visible;
        transition: all .2s;
    }
    &__close{
        &:link, 
        &:visited{
            color: red; 
            position: absolute;
            top: 2rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }
    }
    &__content{
        // position: relative;  
        width: 75%;
        // margin-top: 1rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3rem;
    }
    &__header{
        font-size: 4rem; 
        text-align: center;
        color: #fa709a;
    }


}

.rules ul{
    padding: 3rem; 
}
li {
 }
li p{
    font-size: 2rem;
    color: #595959;
}
.gif{
    width: 10rem;
}
 .clearfix::after{
     content: "";
     display: table; 
     clear: both;
}
.active{
    background-color: #f7f7f7;
    overflow: hidden;
    border-radius: 2rem;
}
.player-0,
.player-1{
    float: left;
    width: 50%;
    height: 100%;
    padding: 3rem;
}
.player-1{
    padding: 3rem; 
}
.current{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); 
    width: 15rem;
    margin: 0 auto;
    border-radius: 1rem;
    padding: .6rem;
    text-align: center;
    color: $color-white;
    margin-top: 10rem;
}
.button{
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 2rem; 
    text-transform: uppercase;
    cursor: pointer;
    padding: .5rem;
    border-radius: 1rem;
    color: $color-white;
}
.btn-new{
    top:  3rem; 
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    cursor: pointer;
}
.btn-hold{
    top: 38rem;
    background-color:  #ffd11a; 
    cursor: pointer;
    transition: all .5s;

    @include respond(small-phone){
        top: 32rem;
    }
}
.btn-roll{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); 
    top: 33rem; 
    cursor: pointer;    
    transition: all .5s;

    @include respond(small-phone){
        top: 28rem;
    }
}
.test{
    display: none;
}
.gif-frame{
    width: 10rem;
    border: none;
}
.dice, .test{
    position: absolute;  
    width: 7rem;
    left: 50%; 
    transform: translateX(-50%);
    top: 10rem;
}
.test{
    @include respond(tab-port){ 
    //    top: 20rem; 
   }
   @include respond(phone){
        top: 5rem;
   }
   @include respond(small-phone){
      top: 2rem;
   }
}
.dice2{
    position: absolute;  
    width: 7rem;
    left: 50%; 
    transform: translateX(-50%);
    top: 20rem; 
}
.winner{
    color: #ff7882;
    // font-size: 3.2rem;
}
.final{
    position: absolute;
    left: 50%; 
    top: 43rem; 
    transform: translateX(-50%); 
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    text-align: center;
    border: 1px solid #b8cbb8;
    text-transform: uppercase;

     @include respond(tab-port){ 
         padding:1rem;
         width: 17rem;
    }
    @include respond(phone){
         
    }
    @include respond(small-phone){
        padding: .4rem;
        width: 12rem;
        top: 36rem;
    }
}